header {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border-bottom: 2px solid black;
    background-color: rgba(128, 128, 128, 0.24);
}

header div {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-around;
}

header div a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: blue;
}

header div a:hover {
    color: red;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.24);
    padding: 10px;
}

.statusOn {
    position: absolute;
    top: 0;
    right: 0;
    color: green;
    font-size: 30px;
    padding: 5px;
}

.statusOn a {
    font-size: 20px;
    text-decoration: none;
    color: red;
    float: right;
}

.statusOff {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 30px;
}

.statusOff h3, .statusOn h3 {
    margin: 0;
} 

.allHeader {
    text-align: center;
}